/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}





.als-container {
	position: relative;
	width: auto;
	margin: 0px auto;
	z-index: 0;
}

.als-viewport {
	position: relative;
	overflow: hidden;
	margin: 0px auto;
}

.als-wrapper {
	position: relative;
	list-style: none;
}

.als-item {
	position: relative;
	display: block;
	text-align: center;
	cursor: pointer;
	float: left;
}

.als-prev, .als-next {
	position: absolute;
	cursor: pointer;
	clear: both;
}


#slider-right {

}

#slider-right .als-item, #slider-center .als-item {
	margin: 0px 5px;
	padding: 4px 0px;
	height: 70px;
	width: 80px;
	text-align: center;
	overflow: hidden;
}
#slider-center .als-item {
    height: 190px;
    margin-right: 12px;
    width: 148px;
}
#slider-center .als-item span {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #000000;
    display: block;
    font-size: 11px;
    font-weight: bold;
    height: 20%;
    line-height: 13px;
    margin: 1px;
    padding: 0;
    text-align: left;
    width: 100%;
}
#slider-right .als-item img, #slider-right .als-item a, #slider-center .als-item .img, #slider-center .als-item a{
	height: 86%;
	display: block;
	text-decoration: none;
}
#slider-right .als-item img, #slider-center .als-item .img {
	display: block;
	margin: 0 auto;
	vertical-align: middle;
	/*margin-left: -65%;*/
	background: transparent no-repeat center top;
	background-size: cover;
}

#slider-right .als-prev, #slider-right .als-next, #slider-center .als-prev, #slider-center .als-next {
	top: 40px;
}

#slider-right .als-prev, #slider-center .als-prev {
	/*left: 200px;*/
}

#slider-right .als-next, #slider-center .als-next{
	/*right: 200px;*/
}


.li.als-item a, .li a{
    display: block;
    height: 100%;
    width: 100%;
}
.li.als-item img, .li img{
    width: 100%;
}

#slider-left {
   width: 100%; /* Desired width */
}
.nivo-controlNav.nivo-thumbs-enabled{
	width: 100%;
	margin: auto;
	overflow: hidden;

}
.nivo-controlNav.nivo-thumbs-enabled a{
    display: block;
    float: left;
}
.nivo-controlNav.nivo-thumbs-enabled a img{
	width: 100%;
}
.white .nivo-caption {
    background-color: #FFFFFF;
    color: #000000;
    font-size: 11px;
    padding: 1px;
    text-align: center;
}
.white .nivo-thumbs-enabled {
    margin-top: -57px;
    position: relative;
    z-index: 1;
}
.gray .nivo-controlNav{
	margin-top: -62px;
	position: relative;
}
.gray .nivo-control{
	background-color: #808080;
    border: 2px solid #A9A9A9;
    color: transparent;
    display: inline-block;
    height: 7px;
    width: 7px;
    border-radius: 7px;
}
.gray .nivo-control.active{
    background-color: white;
}
.gray .nivo-control{
	margin-right: 3px;
}
.gray .nivo-control:last-child{
	margin-right: 0px;
}
.white .nivo-thumbs-enabled .nivo-control{
    background-color: gray;
    padding: 1px;
}
.white .nivo-thumbs-enabled .nivo-control.active{
    background-color: red;
}
.white .nivo-directionNav{
	display: none;
}
.white .nivo-directionNav a{
	width: 5%;
	background: url("../img/arrow.png") no-repeat 50%;
	top: 77px;
	height: 39px;
	color: transparent;
}
.white .nivo-directionNav a.nivo-nextNav{
	transform:rotate(180deg);
	-ms-transform:rotate(180deg); /* IE 9 */
	-webkit-transform:rotate(180deg); /* Safari and Chrome */
}
.als-container span {
    background: url("../img/arrow2.png") no-repeat scroll -4% 50% rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0);
    height: 60px;
    width: 45px;
}
.als-container span.als-next{
	left: 95%;
	background: url("../img/arrow2i.png") no-repeat scroll 100% 50% rgba(0, 0, 0, 0);
}
ul.als-wrapper{
	padding: 0;
}
.banners{
	margin-top: 50px;
}
.slider-items-wrp{
	margin-top: 25px;
}
.logos{
	margin-bottom: 25px;
}
#slider-right.nivoSlider {
    height: 204px;
}

/*PMSN fixes*/
.simple-container .ro .ce{
	width: 100%;
}
.simple-container .svrichtxt p{
	text-align: left;
}
.simple-container li {
    display: block;
    float: left;
    margin-right: 9px;

}
.simple-container a{
	color: black;
}
.simple-container .pvmain{
margin: auto;
}
.simple-container .pvcontrols > p {
    float: right;
    margin: 0;
}
.simple-container #scplatformComments{
	display: none;
}
.simple-container iframe{
	width: 100%;
	height: 100%;
	border: none;
	overflow: none;
}
.simple-container .embed-box iframe{
	width: auto;
	height: auto;
}
.als-prev{
	float: left;
	left:0px;
}
.als-prev img, .als-next img{
	display: none;
}

.simple-container.simplemodal-container a, .simple-container.simplemodal-container p{
	color: black;
}
.simple-container .pvoverlayprev, .simple-container .pvoverlaynext{

}
.pvphoto, .pvmainct, .pvmain, .pvmain .pvmainimg, .pvmain .pvnavct, .pvmain .pvrelated, .pvmain .pvthmbnlct{
	max-width: auto;
	max-height: auto;
}
.simple-container #pvstatusbar{
	display: none;
}
.simple-container .simplemodal-data{
	padding: 0;
}
.simple-container p{
	text-align: justify;
	margin: 1px;
	padding: 1px;
}
.logos .infinitum img {
    margin-top: 17%;
    width: 100%;
}
.logos .pmsn img {
    width: 82%;
}
.main_container .ro .ce{
	width: 100%;
}
h1{
	font-size: 20px !important;
}
h2{
	font-size: 16px !important;
}